{% extends 'sidebar.html' %}

      <!-- <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

{% block content %}
<p></p>
<h2>Spoon Configuration</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">cd</th>
                <th scope="col">mkd_log_level</th>
                <th scope="col">mkd_log_prices</th>
                <th scope="col">spread count</th>
                <th scope="col">spread ratio</th>
                <th scope="col">spread interval</th>
                <th scope="col">max spread factor</th>
                <th scope="col">min spread factor</th>
                <th scope="col">service host</th>
                <th scope="col">service port</th>
              </tr>
            </thead>
            <tbody>
            {% for spoon in spoonValues %}
              <tr>
                <td>{{spoon.cd}}</td>
                <td>{{spoon.mkd_log_level}}</td>
                <td>{{spoon.mkd_log_prices}}</td>
                <td>{{spoon.mkd_spread_count}}</td>
                <td>{{spoon.mkd_spread_ratio}}</td>
                <td>{{spoon.mkd_spread_interval}}</td>
                <td>{{spoon.mkd_max_spread_factor}}</td>
                <td>{{spoon.mkd_min_spread_factor}}</td>
                <td>{{spoon.service_host}}</td>
                <td>{{spoon.service_port}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
<!-- </main> -->
    <!-- </div>
  </div> -->