{% extends 'layout.html' %}

{% block content %}
<p></p>
<h1>Spoon Configuration</h1>
<div class="table-responsive">
    <!-- <thead>
      <tr>
        <th scope="col">mkd_log_level</th>
        <th scope="col">mkd_log_prices</th>
        <th scope="col">spread count</th>
        <th scope="col">spread ratio</th>
        <th scope="col">spread interval</th>
        <th scope="col">max spread factor</th>
        <th scope="col">min spread factor</th>
        <th scope="col">service host</th>
        <th scope="col">service port</th>
      </tr>
    </thead> -->
    {% if edit_flag %}
    <form id="spoon-finish-form" method="post" action="/spoon">
        {% for spoon in spoonValues %}
        <table class="table table-striped table-sm">
          <br/>
    <h2>Spoon Market Config</h2>
    <thead>
      <th scope="col">mkd_log_level</th>
      <th scope="col">mkd_log_prices</th>
      <th scope="col">spread count</th>
      <th scope="col">spread ratio</th>
      <th scope="col">spread interval</th>
      <th scope="col">max spread factor</th>
      <th scope="col">min spread factor</th>
    </thead>
    <tbody>
        <tr>
          <td><input type="text" name="mkd_log_level" value="{{spoon.mkd_log_level}}" /></td>
          <td><input type="checkbox" name="mkd_log_price" value="{{spoon.mkd_log_prices}}" id="" /></td>
          <td><input type="number" name="mkd_spread_count" value="{{spoon.mkd_spread_count}}" /></td>
          <td><input type="number" name="mkd_spread_ratio" value="{{spoon.mkd_spread_ratio}}" id="" /></td>
          <td><input type="number" name="mkd_spread_interval" value="{{spoon.mkd_spread_interval}}" id="" /></td>
          <td><input type="number" name="mkd_max_spread_factor" value="{{spoon.mkd_max_spread_factor}}" id="" /></td>
          <td><input type="number" name="mkd_min_spread_factor" value="{{spoon.mkd_min_spread_factor}}" id="" /></td>
        </tr>
      </tbody>
      </table>
      <br>
      <h2>Spoon Order Config</h2>
  <table class="table table-striped table-sm">
    <thead>
      <th scope="col">log level</th>
      <th scope="col">order expiration</th>
      <th scope="col">cancel order for no price</th>
    </thead>
    <tr>
      <td><input type="text" name="ord_log_level" value="{{spoon.ord_log_level}}" id="" /></td>
      <td><input type="number" name="ord_duration" value="{{spoon.ord_duration}}" id="" /></td>
      <td><input type="checkbox" name="ord_cancel_noprice" value="{{spoon.ord_cancel_noprice}}" id="" /></td>
    </tr>
  </table>
  <br/>

  <h2>Server Config</h2>
  <table class="table table-striped table-sm">
    <thead>
      <th scope="col">service host</th>
      <th scope="col">service port</th>
    </thead>
    <tr>
      <td><input type="text" name="service_host" value="{{spoon.service_host}}" id="" /></td>
      <td><input type="number" name="service_port" value="{{spoon.service_port}}" id="" /></td>
    </tr>
  </table>
        {% endfor %}
      <button class="badge badge-primary" name="spoon-main">OK</button>
    </form>
    {% else %}
    {% for spoon in spoonValues %}
    <br/>
    <h2>Spoon Market Config</h2>
  <table class="table table-striped table-sm">
    <thead>
      <th scope="col">mkd_log_level</th>
      <th scope="col">mkd_log_prices</th>
      <th scope="col">spread count</th>
      <th scope="col">spread ratio</th>
      <th scope="col">spread interval</th>
      <th scope="col">max spread factor</th>
      <th scope="col">min spread factor</th>
    </thead>
    <tbody>
      <tr>
        <td>{{spoon.mkd_log_level}}</td>
        <td>{{spoon.mkd_log_prices}}</td>
        <td>{{spoon.mkd_spread_count}}</td>
        <td>{{spoon.mkd_spread_ratio}}</td>
        <td>{{spoon.mkd_spread_interval}}</td>
        <td>{{spoon.mkd_max_spread_factor}}</td>
        <td>{{spoon.mkd_min_spread_factor}}</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <h2>Spoon Order Config</h2>
  <table class="table table-striped table-sm">
    <thead>
      <th scope="col">log level</th>
      <th scope="col">order expiration</th>
      <th scope="col">cancel order for no price</th>
    </thead>
    <tr>
      <td>{{spoon.ord_log_level}}</td>
      <td>{{spoon.ord_duration}}</td>
      <td>{{spoon.ord_cancel_noprice}}</td>
    </tr>
  </table>
  <br/>

  <h2>Server Config</h2>
  <table class="table table-striped table-sm">
    <thead>
      <th scope="col">service host</th>
      <th scope="col">service port</th>
    </thead>
    <tr>
      <td>{{spoon.service_host}}</td>
      <td>{{spoon.service_port}}</td>
    </tr>
  </table>
  {% endfor %}
  <br>
  <tr><td><a class="badge badge-success" href="/spoon/edit">EDIT</a></td></tr>
  {% endif %}
  </table>
</div>
{% endblock %}