{% extends 'layout.html' %}
{% set section_name = 'symbol' %}

{% block content %}
<div>
  <br>
  <div class="container">
    <h2 class="mb-3">ADD</h2>
    <br>
    <table class="table table-striped table-sm">
      <thead>
        <th scope="col">Lp Symbol</th>
        <th scope="col">Lp</th>
        <th scope="col">Broker symbol</th>
        <th scope="col">Contract Size</th>
        <th scope="col">Multiplier</th>
        <th scope="col">Digits</th>
        <th scope="col">/</th>
      </thead>
      <tbody>
        <form action="/symbol/add" method="post">
          <div class="input-group">
            <tr>
              <td><input type="text" name="lpSymbol" size="10" maxlength="10"></td>
              <td><select name="lpId">
                {% for lp in lpValues %}
                <option value="{{lp.id}}">{{lp.lp_name}}</option>
                {% endfor %}
              </select></td>
              <td><input type="text" name="brokerSymbol" size="10" maxlength="10"></td>
              <td><input type="number" name="contractSize" size="5"></td>
              <td><input type="text" name="multiplier" size="10" maxlength="10"></td>
              <td><input type="number" name="digits" size="5"></td>
              <td><button type="submit" class="badge badge-success">Submit</button></td>
            </tr>
          </div>
        </form>
      </tbody>
    </table>
  </div>
</div>

<div>
  <br><br>
  <div class="container">
    <h2 class="mb-3">Symbols</h2>
    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">
              <label class="control control--checkbox">
                <input type="checkbox" class="js-check-all" />
                <div class="control__indicator"></div>
              </label>
            </th>
            <th scope="col">Symbol</th>
            <th scope="col">Lp</th>
            <th scope="col">Broker Symbol</th>
            <th scope="col">Contract Size</th>
            <th scope="col">Multiplier</th>
            <th scope="col">Digits</th>
            <th scope="col">
              <label class="custom-control ios-switch" style="position: relative; top: 10px;">
                <input type="checkbox" class="ios-switch-control-input js-ios-switch-all">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for symbol in symbolValues %}

          <tr scope="row" class="active">
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>{{symbol.lp_symbol}}</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">
                <a href="#" class="name">{{symbol.Lp.lp_name}}</a>
              </div>
            </td>
            <td>{{symbol.broker_symbol}}</td>
            <td>{{symbol.contract_size}}</td>
            <td>{{symbol.multiplier}}</td>
            <td>{{symbol.digits}}</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator edit_symbol" data-lp_symbol="{{ symbol.lp_symbol }}"
                  data-lp="{{ symbol.lp }}" data-contract_size="{{ symbol.contract_size }}"
                  data-multiplier="{{ symbol.multiplier }}" data-broker_symbol="{{ symbol.broker_symbol }}"
                  data-digits="{{ symbol.digits }}"></span>
              </label>
            </td>
          </tr>
          {% endfor %}
          <!-- <tr class="active">

            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>

            <td>4616</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Matthew Wasil</a>
              </div>

            </td>
            <td>
              Graphic Designer
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+02 020 3994 929</td>
            <td>London College</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" class="ios-switch-control-input" checked="">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>9841</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Sampson Murphy</a>
              </div>

            </td>
            <td>
              Mobile Dev
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+01 352 1125 0192</td>
            <td>Senior High</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>9548</td>

            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Gaspar Semenov</a>
              </div>

            </td>

            <td>
              Illustrator
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+92 020 3994 929</td>
            <td>College</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr>

          <tr class="active">
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>4616</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Matthew Wasil</a>
              </div>

            </td>
            <td>
              Graphic Designer
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+02 020 3994 929</td>
            <td>London College</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" checked="" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr>
          <tr class="active">
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>9841</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Sampson Murphy</a>
              </div>

            </td>

            <td>
              Mobile Dev
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+01 352 1125 0192</td>
            <td>Senior High</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" checked="" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control control--checkbox">
                <input type="checkbox" />
                <div class="control__indicator"></div>
              </label>
            </td>
            <td>9548</td>
            <td class="pl-0">
              <div class="d-flex align-items-center">


                <a href="#" class="name">Gaspar Semenov</a>
              </div>

            </td>
            <td>
              Illustrator
              <small class="d-block">Far far away, behind the word mountains</small>
            </td>
            <td>+92 020 3994 929</td>
            <td>College</td>
            <td>
              <label class="custom-control ios-switch">
                <input type="checkbox" class="ios-switch-control-input">
                <span class="ios-switch-control-indicator"></span>
              </label>
            </td>
          </tr> -->

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}